<p-button label="Get Trades" (click)="onGetTradesClick($event)"></p-button>

<!-- Market Book orders -->
<div class="p-d-flex">
    <div class="p-d-flex">
        <!-- Market buy order list -->
        <div class="p-md-6 list-buy">
            <p-card header="Buy Energy Trades" >                
            </p-card>
            <p-card [style]="{height: '460px', overflow: 'auto'}">
                <p-table styleClass="p-datatable-sm p-datatable-striped"
                         [loading]="loading" 
                         [scrollable]="true" 
                         scrollHeight="350px"  
                         [value]="tradesBuy" >
                    <ng-template pTemplate="header">                    
                        <tr>
                            <th>Owner</th>
                            <th>Power [Kw]</th>
                            <th>Date</th>                                                               
                            <th>Price [€]</th>                         
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-trade>
                        <tr>
                            <td>{{trade.owner}}</td>
                            <td>{{trade.value}}</td>
                            <td>{{trade.creationDate | date: 'dd/MM/yyyy hh:mm' }}</td>                        
                            <td>{{trade.price}}</td>                        
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>

        <!-- Market sell order list -->
        <div class="p-md-6 list-sell">
            <p-card header="Sell Energy Trades">                
            </p-card>
            <p-card [style]="{height: '460px', overflow: 'auto'}">
                <p-table styleClass="p-datatable-sm p-datatable-striped"
                         [loading]="loading" 
                         [scrollable]="true" 
                         scrollHeight="350px" 
                         [value]="tradesSell">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Price [€]</th>
                            <th>Date</th>                                       
                            <th>Power [Kw]</th>
                            <th>Owner</th> 
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-trade>
                        <tr>
                            <td>{{trade.price}}</td>
                            <td>{{trade.creationDate | date: 'dd/MM/yyyy hh:mm' }}</td>                        
                            <td>{{trade.value}}</td>                        
                            <td>{{trade.owner}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </div>    

    <!-- Market trading -->
    <div class="p-md-2">
        <p-tabView styleClass="tabview-custom" [(activeIndex)]="indexTrade" (onChange)="onTabTradeChange($event)">
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span style="color: green;">Buy</span>
                </ng-template>
                
                <form novalidate [formGroup]="tradeBuyFormGroup">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-12">
                            <label for="owner"><strong>Owner*</strong></label>
                            <input id="owner" type="text" pInputText required formControlName="owner">
                            <small [hidden]="tradeBuyFormGroup.controls.owner.valid || tradeBuyFormGroup.controls.owner.pristine" class="p-error">Owner is mandatory</small>
                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <label for="power"><strong>Power [Kw]*</strong></label>
                            <input id="power" type="number" min="0" pInputText required formControlName="value">
                            <small [hidden]="tradeBuyFormGroup.controls.value.valid || tradeBuyFormGroup.controls.value.pristine" class="p-error">Power is mandatory</small>
                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <label for="price"><strong>Price [€]*</strong></label>
                            <input id="price" type="number" min="0" pInputText required formControlName="price">
                            <small [hidden]="tradeBuyFormGroup.controls.price.valid || tradeBuyFormGroup.controls.price.pristine" class="p-error">Price is mandatory</small>
                        </div>                
                    </div>
                </form>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">                    
                    <span style="color: red;">Sell</span>
                </ng-template>

                <form novalidate [formGroup]="tradeSellFormGroup">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-12">
                            <label for="owner"><strong>Owner*</strong></label>
                            <input id="owner" type="text" pInputText required formControlName="owner">
                            <small [hidden]="tradeSellFormGroup.controls.owner.valid || tradeSellFormGroup.controls.owner.pristine" class="p-error">Owner is mandatory</small>
                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <label for="power"><strong>Power [Kw]*</strong></label>
                            <input id="power" type="number" min="0" pInputText required formControlName="value">
                            <small [hidden]="tradeSellFormGroup.controls.value.valid || tradeSellFormGroup.controls.value.pristine" class="p-error">Power is mandatory</small>
                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <label for="price"><strong>Price [€]*</strong></label>
                            <input id="price" type="number" min="0" pInputText required formControlName="price">
                            <small [hidden]="tradeSellFormGroup.controls.price.valid || tradeSellFormGroup.controls.price.pristine" class="p-error">Price is mandatory</small>
                        </div>                
                    </div>
                </form>                
            </p-tabPanel>
        </p-tabView>

        <div class="p-d-flex action-button" >
            <button pButton type="button" label="{{actionButton}}" 
                    class="action-button" [ngStyle]="{'background-color' : indexTrade === 0 ? 'green' : 'red'}"
                    [disabled]="(!tradeBuyFormGroup.valid && indexTrade == 0) || (!tradeSellFormGroup.valid && indexTrade == 1)"
                    (click)="onExecuteTradeClick($event)"></button>            
        </div>
    </div>
</div>

<!-- Market charts -->
<div class="p-d-flex">    
    <div class="p-md-12">
        <p-card header="Market Trades" >                
        </p-card>

        <p-card [style]="{height: '460px', overflow: 'auto'}">
            <div class="p-d-flex">
                <div class="p-md-6">       
                    <p-chart type="doughnut" 
                             [data]="energyTotal" 
                             [options]="energyTotalOptions">
                    </p-chart>
                </div>
                <div class="p-md-6">
                    <p-chart type="doughnut" 
                             [data]="priceTotal" 
                             [options]="priceTotalOptions">
                    </p-chart>
                </div>
            </div>            
        </p-card>
    </div>
</div>